<%
def active_class(path)
    if request.path == path
      return 'active'
    else
      return ''
    end
  end
%>
<div class="sidebar br-2 pos-rel">
  <div class="flex side-nav">
    <ul class="pos-fix sb" data-turbolinks="false">
      <li class="flex f-space-between <%= active_class(tasks_path) %> mt-3">
        <a class="flex f-center sidebar-link" href="/tasks">
          <span class="material-symbols-outlined mr-3">task_alt</span><span class="sidebar-link-text">Tasks</span>
        </a>
      </li>
      <li class="flex f-space-between mt-3 <%= active_class(starred_tasks_path) %>">
        <a class="flex f-center sidebar-link" href="/starred_tasks">
          <span class="material-symbols-outlined mr-3">star</span><span class="sidebar-link-text">Starred</span>
        </a>
      </li>
      <li class="flex f-space-between <%= active_class(new_task_path) %> mt-3">
        <a class="flex f-center sidebar-link" href="/tasks/new">
          <span class="material-symbols-outlined mr-3">add_task</span><span class="sidebar-link-text">New</span>
        </a>
      </li>
    </ul>
  </div>
</div>
