<div class="flex">
  <div>
  <a href="<%= tasks_path %>">
    <span class="material-symbols-outlined mr-3 p-1 bg-grey rounded-o">
      arrow_back
    </span>
  </a>
  </div>
  <div class="w-100">
    <h1>Editing task</h1>
    <%= render "form", task: @task %>
  </div>
</div>
