<div class="flex">
  <div>
  <a href="<%= tasks_by_date_path(Date.parse("#{@task.start_date}").strftime("%Y-%m-%d")) %>">
    <span class="material-symbols-outlined mr-3 p-1 bg-c rounded-o">
      arrow_back
    </span>
  </a>
  </div>
  <div class="w-100">
    <h1>Editing task</h1>
    <%= render "form", task: @task %>
  </div>
</div>
