<div>
  <div class="flex f-center mb-2">
    <h1 class="hd-lg">Starred Tasks</h1>
  </div>
  <% if @starred_tasks.size() > 0 %>
    <div class="tasks grid">
      <% @starred_tasks.each do |task| %>
        <%= render partial: "tasks/task", locals: { task: task, collabs: @collab_data.select{ |collab| collab.task_id == task.id }, collab_task: false } %>
      <% end %>
    </div>
  <% else %>
    <div class="flex f-center-vh text-center" style="height: 85vh;">
      <h2 class="text-b-hint">Nothing in here!</h2>
    </div>
  <% end %>
</div>
