<div class="full-screen flex f-center-vh f-c bg-c">
  <div class="scale-1">
    <%= render partial: "components/logo"%>
  </div>
  <%= link_to "Login", "users/sign_in", class: "btn btn-lg btn-dark mt-4" %>
</div>
