// buttons

.btn {
  background-color: $primary;
  color: $white;
  padding: 0px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  text-align: center;

  &-md{
  padding: 0px 24px;
    height: 44px;
    font-size: 16px;
  }

  &-lg{
  padding: 0px 32px;
    height: 52px;
    font-size: 16px;
  }
  &:hover {
    background-color: rgba($primaryDark, 0.9);
  }
  &-p {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: rgba($primary, 0.5);
    }
  }

  &-peace {
    background-color: $white !important;
    color: $primaryDark !important;

    &:hover {
      background-color: $grey in !important;
    }
  }

  &-dark {
    background-color: $text !important;
    color: $white !important;

    &:hover {
      background-color: #000 !important;
    }
  }
  &-success {
    background-color: $success !important;
    color: $white !important;

    &:hover {
      background-color: rgba($success, 0.8) !important;
    }
  }
  &-danger {
    background-color: $error !important;
    color: $white !important;

    &:hover {
      background-color: rgba($error, 0.8) !important;
    }
  }
}

.btn-block {
  display: block;
  text-align: center;
}
