input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
textarea,
select {
  outline: none;
  border: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $primary;
  outline: none;
  transition: all 0.2s ease-in;
}


input[type="file"] {
  border: none;
  outline: none;
  // background-color: $primary;
}
::-webkit-file-upload-button {
  border: none;
  font-size: 14px;
  color: $white;
  background-color: $primary;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 1em 0px;
  cursor: pointer;
}

input[value].input-slate,
textarea.input-slate {
  font-size: 18px;
  font-weight: 500;
}

.date-pickers input[value] {
  font-size: 14px;
  font-weight: bold;
}
input:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 3px rgba($color: $primary, $alpha: 0.3);
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $primary;
  transition: all 0.2s ease-in;
}

.input-slate {
  padding: 14px;
}

.date-picker {
  border: none;
  background-color: $grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid $primary;
  margin-top: 3px;
  font-size: 12px;
  font-weight: bold;

  &:focus {
    border: none;
    box-shadow: none;
    border-bottom: 3px solid $primary;
  }

  &::placeholder {
    font-size: 12px;
    font-weight: normal;
  }
}

button,
input[type="button"] {
  outline: none;
  border: none;
  font-weight: normal !important;
  letter-spacing: 1px;
}

// checkbox switch
$toggle-indicator-size: 24px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;
/*

The following vars come from my theme.
You'll need to replace with your own color values.

- "$light"
- "$mid"
- "$dark"

*/
$track-border: $primary;
$track-background: rgba(
  $color: $primary,
  $alpha: 1,
);
$focus-ring: 0px 0px 0px 2px $primary;
$speed: 0.3s;
$dark: $black;
// Toggle specific styles
.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;

  &:last-of-type {
    margin: 0;
  }
}

// Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  // This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked.
  &:not([disabled]):active + .toggle-track,
  &:not([disabled]):focus + .toggle-track {
    border: 1px solid $primary;
    box-shadow: 0px 0px 0px 3px rgba($color: $primary, $alpha: 0.3);
  }

  &:disabled + .toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.toggle-track {
  background: transparent;
  border: 1px solid $track-border;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: $track-height;
  margin-right: 12px;
  position: relative;
  width: $track-width;
}

.toggle-indicator {
  align-items: center;
  background: $primary;
  border-radius: $toggle-indicator-size;
  bottom: 2px;
  display: flex;
  height: $toggle-indicator-size;
  justify-content: center;
  left: 2px;
  outline: $highContrastModeSupport;
  position: absolute;
  transition: $speed;
  width: $toggle-indicator-size;
}

// The check mark is optional
.checkMark {
  fill: #fff;
  height: $toggle-indicator-size - 4;
  width: $toggle-indicator-size - 4;
  opacity: 0;
  transition: opacity $speed ease-in-out;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: $success;
  transform: translateX($track-width - $track-height);

  .checkMark {
    opacity: 1;
    transition: opacity $speed ease-in-out;
  }
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
  }
}
