// padding
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.px-1 {
  padding: 8px 0px;
}

.px-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-lg {
  padding: 0px 100px;
}
.px-xl {
  padding: 0px 180px;
}

.py-1 {
  padding: 8px;
}
.m-0 {
  margin: 0;
}

// margin
.m-1 {
  margin: 4px;
}

// mr
.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 16px;
}

// margin left right

.mx-3 {
  margin-right: 16px;
  margin-left: 16px;
}
.mx-4 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-lg {
  margin-right: 120px;
  margin-left: 120px;
}

.mx-xl {
  margin: 0px 150px;
}

// ml
.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 16px;
}

// mt
.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 32px;
}

// mb
.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}

// border

.br-2 {
  border-right: 2px solid $grey;
}
.bl-2 {
  border-left: 2px solid $grey;
}

//   radius
.rounded-0 {
  border-radius: 0px;
}
.rounded {
  border-radius: 5px;
}
.rounded-sm {
  border-radius: 10px;
}
.rounded-md {
  border-radius: 14px;
}
.rounded-lg {
  border-radius: 18px;
}

.rounded-o {
  border-radius: 100%;
}
// colors
.bg-p {
  background-color: $primary;
}
.bg-p-dark {
  background-color: $primaryDark;
}
.bg-p {
  background-color: $primary;
}

.bg-s {
  background-color: $success;
}

.bg-grey {
  background-color: $grey;
}

.bg-err {
  background-color: $error !important;
}

.bg-c {
  background-color: $background;
}

.bg-w {
  background-color: $white;
}

.text-w {
  color: $white !important;
}

.text-b {
  color: $black !important;
}

.text-p-dark {
  color: $primaryDark !important;
}

.text-center {
  text-align: center;
}

.text-b-hint {
  color: $blackHint;
}

.text-ele-w > * {
  color: $white;
}

.text-ele-b > * {
  color: $text;
}

.text-w-hint {
  color: $whitehint !important;
}

.text-underline {
  text-decoration: underline;
}

//

.text-bl {
  font-weight: bold !important;
}

.text-line-through {
  text-decoration-line: line-through;
}

//   cursor
.cursor-p {
  cursor: pointer;
}

// display
.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.show-on-small {
  display: none !important;
}

// width
.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-100 {
  width: 100%;
}

.min-w-300 {
  min-width: 300px;
}

.w-50 {
  width: 50%;
}

// height
.h-100 {
  height: 100%;
}

// containers
.container {
  max-width: 1424px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

// text
.hd-md {
  font-size: 30px;
  line-height: 1.3;
}

.hd-lg {
  font-size: 45px;
  line-height: 1.3;
}

.hd-sm {
  font-size: 24px;
  line-height: 1;
}

.text-sm {
  font-size: 12px !important;
}

.text-md {
  font-size: 16px !important;
}

.text-lg {
  font-size: 57px !important;
}

.text-b {
  font-weight: bold;
}
.capitize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

// flex
.flex {
  display: flex;
}

.f-c {
  flex-direction: column;
}

.f-d {
  flex-direction: row;
}

.f-jc-sb {
  justify-content: space-between;
}

.f-start {
  justify-content: start !important;
  align-items: flex-start !important;
}

.f-wrap {
  flex-wrap: wrap;
}
.f-center-vh {
  justify-content: center;
  align-items: center;
}

.f-center {
  align-items: center;
}

.f-space-between {
  justify-content: space-between;
  align-items: center;
}

// grid
.grid {
  display: grid;
}

// position
.pos-abs {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.pos-fix {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.pos-rel {
  position: relative;
}

.pos-b-0 {
  bottom: 0;
}

.pos-t-0 {
  top: 0;
}

.pos-r-0 {
  right: 0;
}

.pos-l-0 {
  left: 0;
}

//
.shadow {
  box-shadow: 0px 3px 12px rgba(#333, 0.3);
}

// border
.border-dashed {
  border: 2px solid $primary;
  border-style: dashed;
}

// overflow
.overflow-scroll {
  overflow: scroll;


}

// scroll

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($primaryDark, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($primary, 0.3);
}

 /* width */
 .overflow-scroll::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.overflow-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.overflow-scroll::-webkit-scrollbar-thumb {
  width: 0px;
  background: $primary;
}

/* Handle on hover */
.overflow-scroll::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
